body {
    /* Fit background image to screen size */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    height: 100vh;
    min-width: 300px;
}
/*bootstrap css*/
.jumbotron {
    background-color: white;
    opacity: .8;
    transition: opacity 1s;
    height: 33%;
}
.jumbotron:hover {
    opacity: 1;
}
.panel-orange {
    border-color: #f4511e;
}
.panel-orange > .panel-heading {
    color: white;
    background-color: #f4511e;
    border-color: white;
}
/*global.css*/
.nav li:hover {
    background-color: #EFEFEF;
    border-style: none;
    border-radius: 8px;
}
#userbox {
    border: 2px solid #777777;
    border-radius: 8px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*index.css*/
#slideName {
    text-align: center;
    font-size: 150%;
}
#slideInfo {
    text-align: center;
    font-size: 150%;
}
#logo {
    max-width: 500px;
}
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: black;
}
/*about.css*/
#aboutButtonText {
  font-size: 125%;
}
#aboutUsText {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}
#aboutWebText {
  font-size: 280%;
  font-weight: bold;
  text-align: center;
}
#featureText {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}
/*pvp.css*/
.pvp-body{
    height: 100vh;
    padding: 0px;
    overflow-x: hidden;
}
.battleground {
    height: calc(50% - 55px);
}
.timer {
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}
.character {
    height: 100%;
    display: inline-block;
    background-image: url("../media/character.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center bottom;
}
#pvpopponent {
    background-image: url("../media/pvpcharacter.png");
}
#pvpuser {
    background-image: url("../media/pvpcharacter.png");
}
.stats {
    height: 100%;
}
.statbar {
    height: 10%;
    width: 100%;
    background-color: white;
    margin-top: 1%;
    border: 2px solid #555555;
}
.healthlvl {
    height: 100%;
    background-color: red;
    overflow-x: visible;
}
.manalvl {
    height: 100%;
    background-color: blue;
    overflow-x: visible;
}
.abilities {
    height: 100%;
    vertical-align:top;
}
.ability {
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height: 100%;
}
.ability:hover {
    background-color: #555555;
    color: white;
}
.abilityImage {
    width: 100%;
    height: auto;
}
.abilityText {
    width: 100%;
    height: 35%;
}
.abilityDamage {
    width: 100%;
    height: 15%;
}
/*.abilityUses {*/
/*    height: 7%;*/
/*    width: 100%;*/
/*}*/
@media only screen and (max-width: 992px) {
    .pvp-body {
        height: 100%;
    }
    .abilities {
        height: 50%;
    }
    .abilityImage {
        height: 80%;
        width: 100%;
    }
    .abilityImage>img {
        height: 100%;
        width: auto;
    }
    .abilityText {
        display: none;
    }
    .userbox {
        height: 50%;
    }
    .statbar {
        height: 25%;
    }
}
@media only screen and (max-width: 768px) {
    .character {
        display: none;
    }
    .ability {
        padding: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .battleground {
        padding: 0px;
    }
    .userbox {
        padding: 0px;
    }
    .stats {
        padding: 0px;
    }
    .abilities {
        padding: 0px;
    }
    .abilityImage>img {
        width: 100%;
        height: auto;
    }
}
/*market.css*/
#marketMoneyText {
    font-size: 200%;
    font-weight: bold;
}
.marketBackground {
    height: 750px;
    overflow-y: auto;
    background-color: black;
    opacity: 0.75;
    padding-top: 1%
}
/* class.php */
.class-body {
  overflow-x: hidden;
}
.class-main {
  height: calc(100vh - 54px - 20px);
}
.dailyquestionbackground {
  padding-top: 8px;
  height: 50%;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.dailyquestionanswerbackground {
    margin-left: 8px;
}
.dailyquestiontitle {
    margin-top: 0px;
    text-align: center;
}
.newsbackground {
  padding-top: 8px;
  height: 50%;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.newstitle {
    margin-top: 0px;
    text-align: center;
}
.sidebarhide {
  display: none;
}
.class-sidenav {
  display: none;
  width: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.6s;
}
.sidenavarrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  right: 0;
  border-radius: 3px 0 0 3px;
}
@media only screen and (max-width: 992px) {
  .class-buttons {
    display: none;
  }
  .sidebarhide {
    display: inline;
  }
}
/* findgame.css */
.findgame-body {
  height: calc(100vh - 54px - 20px);
  overflow-x: hidden;
}
.ability-select {
    background-color: rgba(0,0,0,0.8);
}
.findgame-active-abilities {
  width: 100%;
}
.findgame-abilities {
  width: 100%;
}
.findgame-active-ability {
  display: inline-block;
  width: 24%;
}
.findgame-ability {
  display: inline-block;
  width: 24%;
}
.request-panel {
  display: inline-block;
  width: 80%;
}
#backbutton {
  display: none;
}
.users {
  display: none;
  width: 100%;
}
.requests {
  display: none;
  width: 100%;
}
.request-panel {
    width: 100%;
}
.request-accept {
    float: left;
    background-color: #00BB00;
    color: white;
    border: none;
    border-radius: 4px;
}
.request-decline {
    float: left;
    margin-top: -20px;
    margin-left: 8px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}
@media only screen and (max-width:576px) {
  .findgame-active-ability {
  width: 100%;
}
.findgame-ability {
  width: 100%;
}
.request-panel {
  width: 100%;
}
}
/*inventory.css*/
#inventoryAbilitiesItems {
    background-color: black;
    opacity: 0.8;
    padding-top: 1%;
    overflow-y: auto;
}
#inventoryClothes {
    background-color: black;
    opacity: 0.8;
    padding-top: 1%;
    overflow-y: auto;
}
.activeShirt {
    width: 300px;
    height: 340px;
}
.characterBackground {
    height: 510px;
    background-color: black;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 85% 80%;
    background-position: 50% 85%;
}
@media screen and (max-width:1450px) {
    .characterBackground {
        background-size: 100%80%;
        background-position: 100%85%;
    }
    .activeShirt {
        width: 300px;
        height: 340px;
    }
}
@media screen and (max-width:990px) {
    .characterBackground {
        background-size: 60% 80%;
        background-position: 50% 85%;
    }
}
@media screen and (max-width:580px) {
    .characterBackground {
        background-size: 75% 80%;
        background-position: 50% 85%;
    }
}
@media screen and (max-width:485px) {
    .characterBackground {
        background-size: 100%80%;
        background-position: 100%85%;
    }
}
.userInfo {
    height: 510px;
    background-color: black;
    opacity: 0.8;
}
.progress {
    display: inline-block;
    width: 90%;
}
.inventory-active-ability {
    display: inline-block;
    width: 24%;
}
.inventorymobile-active-ability {
    display: inline-block;
    width: 100%;
}
/* signup.css */
.signupForm input {
    width: 100%;
}

.signupForm h3 {
    margin-right: auto;
    margin-left: auto;
}

.radio-inline {
    margin: 0px !important;
    padding: 0px;
}

.radio-inline>input {
    width: 100px;
}

.passStrengthBox {
    width: 100%;
}

meter {
    width: 100%;
}

meter::-webkit-meter-bar {
    background: #DDDDDD;
}

meter[value="1"]::-webkit-meter-optimum-value {background: red;}
meter[value="2"]::-webkit-meter-optimum-value {background: orange;}
meter[value="3"]::-webkit-meter-optimum-value {background: yellow;}
meter[value="4"]::-webkit-meter-optimum-value {background: green;}

/* win.css */
.win-body {
    background-color: black;
    height: 100vh;
}
#fireworkField {
    height: 60%;
    width: 100%;
}
#fireworkExplosionField {
    height: 40%;
    width: 100%;
}
.firework {
    height: 25%;
    width: 5%;
    margin-left: 47.5%;
}
.fireworkExplosionStage1 {
    height: 60%;
    width: 60%;
    margin-left: 19.5%;
}
.fireworkExplosionStage2 {
    height: 75%;
    width: 75%;
    margin-left:12.5%;
}
.fireworkExplosionStage3 {
    height: 100%;
    width: 50%;
    margin-left:25%;
}