body {
    /* Fit background image to screen size */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    height: 100vh;
}
.positionall {
    height: 90%;
    width: 100%;
}
#characterbackground {
    width: 30%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    float: left;
    margin-left: 4%;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: 100% 85%;
}
.hat {
    height: 100%;
    width: 100%;
}
#hat1 {
    margin-left: 34%;
    margin-top: 3%;
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}
#hat2 {
    margin-left: 32.5%;
    margin-top: 8%;
    width: 40%;
    height: 30%;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}
#hat3 {
    margin-left: 37%;
    margin-top: 8%;
    width: 30%;
    height: 30%;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}
#hat4 {
    margin-left: 32.5%;
    margin-top: 16%;
    width: 35%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: 100% 140%;
}
.body {
    width: 171px;
    height: 171px;
}
.inventorybackground {
    width: 59%;
    height: 100%;
    float: right;
    margin-right: 2%;
}
#userinfo {
    height: 49.5%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    margin-bottom: 1%;
}
.progress {
    display: inline-block;
    width: 50%;
}
.mana {
    background-color: blue;
    width: 100%;
}
.health {
    background-color: red;
    width: 100%;
}
.healthposition {
    width: 100%;
    height: 10%;
}
#stuffbackground {
    height: 49.5%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}
.stuffsidebar {
    width: 25%;
    height: 100%;
    border-right: 5px double gray;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.positionpage {
    margin-left: 9%;
    background-color: silver;
    color: black;
    font-weight: bold;
    opacity: 0.8;
}
.slotbackground {
    height: 90%;
    width: 74%;
    float: right;
    margin-right: 1%;
    overflow-y: auto;
}
.slot {
    width: 18%;
    height: 35%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 1.5%;
    background-color: white;
    opacity: 0.7;
}
.sidebar {
    width: 40%;
    height: 100%;
    border-right: 5px double gray;
    display: none;
    float: left;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 97%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 55px;
}
.sidenavarrowhide {
    display: none;
}
.sidenavarrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}
.sidenavarrow {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.sidenavarrow:hover {
  background-color: rgba(0,0,0,0.8);
}
/* 1.) Create abilities and items and stuffs box to the right
   2.) Resize @media. For character resize at multiple medias and for items nad stuffs box, make sidebar for it.*/









