body {
    /* Fit background image to screen size */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    height: 100vh;
    background-image: url(https://cdn.theatlantic.com/assets/media/img/mt/2015/12/RTR2VE1N/lead_large.jpg);
}
#ground {
    height: 100vh;
    position: relative;
}

.hud {
    position: absolute;
    height: 33.3333333333%;
    padding: 0px;
}

#opponentDisplay {
    top: 0;
}

#userDisplay {
    bottom: 0;
}

.abilities {
    height: 100%;
    background-color: #DDDDDD;
}

.ability {
    height: 100%;
    /*
        It's supposed to be 25%, but for some reason that pushes the last one to a new line.
        I have no idea why it works with such an arbitrary value of 23.6856546401977557381179906%
    */
}

.ability button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0);
}

.ability:hover {
    background-color: #CCCCCC;
}

.list-group-item {
    height: 25%;
}

.list-group-item div {
    border-style: none;
    border-radius: 8px;
}

.badge {
    float: right;
}

.progress {
    display: inline-block;
    width: calc(100% - 70px);
}

.health {
    background-color: red;
    width: 100%;
}

.body, .img-responsive {
    height: 100%;
}

.message {
    background: #FFFFFF;
    height: 256px;
}